# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Large Model Files (optional, but good for speed)
*.keras
*.h5
*.weights
*.sdf
*.csv
